.button {
  border: 1px solid #000;
  border-radius: 62px;
  background: rgba(255, 255, 255, 0.3);
  /* padding: 10px 30px; */
  width: 74px;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-image-arrow {
  height: 71px;
  width: auto;
}

.button-image-butterfly {
  position: absolute;
  height: 128px;
  width: auto;
  max-width: none;
  right: -65px;
  bottom: 110px;
}
