/* Scroll horizontale */
.scroll-mask {
  width: 99svw; /* Largeur visible */
  height: 100vh; /* Hauteur visible */
  position: relative;
}

.scroll-wrapper {
  display: flex; /* Permet au contenu de défiler horizontalement */
  height: 100%;
  overflow: hidden; /* Masque les parties débordantes */
  position: relative;
  left: -250px;
}

.scroll-horizontal {
  max-width: none; /* Permet à l'image de dépasser les limites */
  position: absolute;
  display: block;
  height: 100vh;
}
