/* .scroll-mask {
  height: 100vh;

  overflow-x: auto;
} */

/* .scroll-horizontal {
  width: 6542px; ou une largeur spécifique
  height: 100%;
  white-space: nowrap; Pour empêcher le retour à la ligne
  position: relative;
} */

/* .scroll-wrapper { */
/* display: inline-flex; */
/* overflow-x: hidden; */
/* width: 100%;
  height: 100%;
} */

/* .images-horizontal {
  position: absolute;
} */

.scroll-mask {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.scroll-wrapper {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
}

.scroll-horizontal {
  /* height: 100vh;
  width: 100vw; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

footer {
  height: 100vh;
  width: 100vw;
}

/* repositionner toutes les images */

.image-1 {
  bottom: 0;
  left: 400px;
  width: 13%;
  z-index: 2;
}

.image-2 {
  height: 50%;
  top: 210px;
  z-index: 1;
}

.image-3 {
  width: 15%;
  top: 0;
  left: 1366px;
  z-index: 1;
}

.image-4 {
  height: 50%;
  top: 210px;
  left: 1939px;
  z-index: 0;
}

.image-5 {
  height: 62%;
  top: 191px;
  left: 2782px;
  z-index: 2;
}

.image-6 {
  height: 50%;
  top: 210px;
  left: 3175px;
  z-index: 0;
}

.image-7 {
  height: 76%;
  bottom: 187px;
  left: 3934px;
  z-index: 2;
}

.image-8 {
  height: 50%;
  top: 210px;
  left: 4163px;
  z-index: 0;
}

.image-9 {
  height: 50%;
  top: 210px;
  z-index: 1;
  left: 4530px;
}

.image-10 {
  height: 70%;
  left: 5264px;
  z-index: 2;
  bottom: 116px;
}

.image-11 {
  height: 50%;
  top: 210px;
  z-index: 1;
  left: 5528px;
}

.image-12 {
  height: 81%;
  left: 5957px;
  z-index: 2;
  bottom: 116px;
}

/* .image-1 {
  bottom: 0;
  left: 0;
  width: 13%;
  z-index: 2;
}

.image-2 {
  height: 50%;
  top: 210px;
  z-index: 1;
}

.image-3 {
  width: 15%;
  top: 0;
  left: 1366px;
  z-index: 1;
}

.image-4 {
  height: 50%;
  top: 210px;
  left: 1939px;
  z-index: 0;
}

.image-5 {
  height: 62%;
  top: 191px;
  left: 2782px;
  z-index: 2;
}

.image-6 {
  height: 50%;
  top: 210px;
  left: 3175px;
  z-index: 0;
}

.image-7 {
  height: 76%;
  bottom: 187px;
  left: 3934px;
  z-index: 2;
}

.image-8 {
  height: 50%;
  top: 210px;
  left: 4163px;
  z-index: 0;
}

.image-9 {
  height: 50%;
  top: 210px;
  z-index: 1;
  left: 4530px;
}

.image-10 {
  height: 70%;
  left: 5264px;
  z-index: 2;
  bottom: 116px;
}

.image-11 {
  height: 50%;
  top: 210px;
  z-index: 1;
  left: 5528px;
}

.image-12 {
  height: 81%;
  left: 5957px;
  z-index: 2;
  bottom: 116px;
} */
