.story-sequence {
  max-width: 750px; /* modifier */
  margin-inline: auto;
  /* border: 3px solid red */
  padding-bottom: 300px;
}

.images-group {
  position: relative;
}

.images-group-over {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.images-group-over-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.image-butterfly {
  transform: translateX(-350px) translateY(-250) scale(50%);
}

.image-temple {
  transform: translateX(200px) translateY(100px) scale(80%);
}

.image-graveyard {
  transform: translateX(-100px) translateY(10px) scale(100%);
}

.image-man {
  transform: translateX(200px) translateY(10px) scale(100%);
}

.text-question {
  text-align: right;
  padding-top: 200px;
}

.image-man-back {
  transform: translateX(0px) translateY(50px) scale(100%);
}

.image-man-ground {
  transform: translateX(-100px) translateY(100px) scale(100%);
  z-index: 2;
}

.image-hands {
  transform: translateX(50px) translateY(150px) scale(100%);
}

.text-sequence {
  padding-bottom: 100px;
  text-align: center;
}
