.story-sequence {
  max-width: 750px; /* modifier */
  margin-inline: auto;
  /* border: 3px solid red */
  padding-bottom: 230px;
}

.images-group {
  position: relative;
}

.images-group-over {
  position: absolute;
  top: 0;
  left: 0;
}

.images-group-over-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.image-butterfly {
  transform: translateX(-350px) translateY(-250) scale(50%);
}

.images-temple {
  transform: translateX(200px) translateY(100px) scale(80%);
}

.images-graveyard {
  transform: translateX(-100px) translateY(10px) scale(100%);
}

.images-man {
  transform: translateX(200px) translateY(10px) scale(100%);
}

p {
  padding-bottom: 64px;
  text-align: center;
}

.text-question {
  text-align: right;
  padding-top: 148;
}

.images-man-back {
  transform: translateX(0px) translateY(50px) scale(100%);
}

.images-man-ground {
  transform: translateX(-100px) translateY(100px) scale(100%);
}

.images-hands {
  transform: translateX(50px) translateY(150px) scale(100%);
}
